
<div class="transportation-show">
	<div class="row">
	<% i = 0 %>
		<% @routes.each_with_index do |route, index| %>
		<div class="col-xs-12 transportation-routes">
			<div class="row transportation-route-overview">
				<div class="col-xs-9 transportation-route-detailbar" id="route-<%= index %>">
					<div class="transportation-route-summarybar" style="width:<%= route['durationMajor'].to_f / @routeLongest.to_f * 100 * 0.9 %>%">
						<% route['segments'].each do |segment| %>
							<% if segment['isMajor'].to_s == "1" %>
								<div class="route-segment-overview" data-segment-id="<%= i %>" style="width:<%= segment['duration'].to_f / route['durationMajor'].to_f * 100 - 1 %>%"><i class="fa fa-<%= segment['kindIcon'].to_s %> fa-lg"></i></div>
								<% i = i + 1 %>
							<% end %>
						<% end %>
					</div>
					<span class="itinerary-route-duration"><%= route['durationText'] %></span>
				</div>
				<div class="col-xs-1">
					<span class="itinerary-route-price"><%= route['indicativePrice']['currencySym'] %><%= route['indicativePrice']['price'] %></span>
				</div>
				<div class="col-xs-2">
					<button type="button" class="btn-primary btn-xs">Add</button>
				</div>
			</div>

				<div class="row transportation-segments">
					<% route['segments'].each do |segment| %>


						<div class="transportation-segments-all">
								<div class="col-xs-9">
									<div class="transportation-segment"><i class="fa fa-<%= segment['kindIcon'].to_s %> fa-lg"></i><%= segment['kind'].to_s.titleize + ' from ' + segment['source'].to_s + ' to ' + segment['target'].to_s %></div>
								</div>
								<div class="col-xs-1">
									<span class="itinerary-route-price">$<%= segment['indicativePrice']['price'] %></span>
								</div>
								<div class="col-xs-2 transport-book">
									<span>Book</span>
								</div>
							</div>


					<% end %>

				</div>


		</div>


		<% end %>

	</div>

	<%= javascript_tag do %>
		window.airportPathsLat = <%=raw @airportPathsLat.to_json %>;
	  window.routePaths = <%=raw @routePaths.to_json %>;
	  window.airportPathsLng = <%=raw @airportPathsLng.to_json %>;
	<% end %>
</div>



