<!-- rendered when user has already selected transportation route -->

<div class="itinerary-transportation-step">
	<div class="row itinerary-transportation-header">
		<div class="itinerary-transportation-icon">
			<div class="itinerary-transportation-vertical"></div>
			<i class="fa fa-bus fa-2x"></i>
			<div class="itinerary-transportation-vertical itinerary-transportation-vertical-bottom"></div>
		</div>
		<div class="col-sm-11 col-sm-offset-1 itinerary-transportation-overview">
			<p class="itinerary-transportation-title">Jan 2 | Travel to Dafeng, China</p>
		</div>
	</div>

	<div class="row itinerary-transportation-details">
		<div class="col-sm-3 col-sm-offset-1">
			<p class="itinerary-transportation-subtitle"><%= @transportationType %> to <%= @itineraryStepDestination2 %></p>
		</div>
		<div class="col-sm-5 itinerary-transportation-specifics">
			<p><%= @transportationSpecifics %></p>
		</div>
		<div class="col-sm-1 itinerary-step-price">
			<p><%= @transportationPrice %></p>
		</div>
		<div class="col-sm-2 itinerary-step-booking">
			<%= submit_tag("Book now", {:class => 'btn btn-success'}) %>
		</div>
	</div>
	<div class="row itinerary-transportation-details">
		<div class="col-sm-3 col-sm-offset-1">
			<p class="itinerary-transportation-subtitle"><%= @transportationType %> to <%= @itineraryStepDestination2 %></p>
		</div>
		<div class="col-sm-5 itinerary-transportation-specifics">
			<p><%= @transportationSpecifics %></p>
		</div>
		<div class="col-sm-1 itinerary-step-price">
			<p><%= @transportationPrice %></p>
		</div>
		<div class="col-sm-2 itinerary-step-booking">
			<%= submit_tag("Book now", {:class => 'btn btn-success'}) %>
		</div>
	</div>
</div>