<% #inserting trip_id variable so javascript can read %>
<%= javascript_tag do %>
  window.tripID = <%= @trip.id %>;
<% end %>



<!-- Fix height issue with map -->
<div class="hidden-xs" id="map-container-90">
  <div id="map-holder"></div>

  <div id="map-controls-container">
    <div id="map-controls">
      <!-- SWITCH TRIPS
      <div id="switch-trips-button" class="inline-block" data-toggle="tooltip" data-placement="bottom" title="Switch Trips">
        <i class="fa fa-caret-down fa-lg"></i>
      </div> -->

      <div id="trip-title-confirmed">
        <h3 id="trip-title" class="inline-block">My Untitled Trip</h3>
        <i id="edit-title" class="fa fa-pencil" data-toggle="tooltip" data-placement="right" title="Edit Title"></i>
      </div>
      <div id="trip-title-edit" class="hidden">
        <input id="trip-title-input" value="My Untitled Trip"></input>
        <i id="confirm-title" class="fa fa-check" data-toggle="tooltip" data-placement="right" title="Confirm Title"></i>
      </div>
      <div id="trip-dates">
        <p id="no-trip-dates" class="link-text inline-block">+ Add Dates</p>

        <div id="edit-trip-dates" class="hidden">
          <i class="fa fa-calendar-plus-o fa-fw in-form-icon"></i>
          <%= text_field_tag :trip_start_date, nil, :class => 'date-picker', :placeholder => 'From' %>
          <span> to </span>
          <i class="fa fa-calendar-plus-o fa-fw in-form-icon"></i>
          <%= text_field_tag :trip_end_date, nil, :class => 'date-picker', :placeholder => 'To' %>
          <i id="confirm-trip-dates" class="fa fa-check" data-toggle="tooltip" data-placement="right" title="Confirm Dates"></i>
        </div>

        <div id="confirmed-trip-dates" class="hidden">
            <span id="trip-start-date">START DATE</span>
            <span>-</span>
            <span id="trip-end-date">END DATE</span>
            <i id="show-edit-trip-dates" class="fa fa-pencil" data-toggle="tooltip" data-placement="right" title="Edit Trip Dates"></i>
        </div>
      </div>

      <div id="trip-metrics">
        <span id="trip-metrics-cities">
          <strong>0</strong><span> Cities</span>
        </span>
        <span> - </span>
        <span id="trip-metrics-countries">
          <strong>0</strong><span> Countries</span>
        </span>
        <span> - </span>
        <span id="trip-metrics-distance">
          <strong>0</strong><span> KM</span>
        </span>
        <div id="trip-metric-days-div" class="inline-block hidden">
          <span> - </span>
          <span id="trip-metrics-days">
            <strong>0</strong><span> Days</span>
          </span>
        </div>
      </div>

      <div id="map-controls-buttons-container" class="map-controls-div">
        <i data-toggle="tooltip" data-placement="bottom" title="Add to Favorites" id="favorite-trip" class="fa fa-star-o fa-lg"></i>
        <i data-toggle="tooltip" data-placement="bottom" title="Share Trip" class="fa fa-share-alt fa-lg"></i>
        <!-- <i data-toggle="tooltip" data-placement="bottom" title="More Actions" class="fa fa-ellipsis-h fa-lg"></i> -->
        <i data-toggle="tooltip" data-placement="bottom" title="Switch Trips" class="fa fa-map-o fa-lg"></i>
        <i data-toggle="tooltip" data-placement="bottom" title="Duplicate Trip" class="fa fa-files-o fa-lg"></i>
        <a href="<%= delete_trip_confirmation_lightbox_path %>" data-colorbox="true" class="no-style-link">
          <i data-toggle="tooltip" data-placement="bottom" title="Delete Trip" class="fa fa-trash-o fa-lg"></i>
        </a>
        <span class="vertical-sep"></span>
        <button type="button" id="save-trip" class="btn btn-primary btn-xs">
          <span>Save</span>
        </button>
        <span id="save-status" class="inline-block save-red">Unsaved</span>
      </div> <!-- End map controls buttons container div -->
    </div>
  </div>
</div>

<!-- Fix height issue with side popup -->
<div id="side-popup">
  <i id="close-side-popup" class="fa fa-times-circle fa-2x"></i>

  <div class="container-fluid hidden">
    <div class="row">
      <div class="col-sm-12">
        <h3>Transportation Options from Shanghai to Dafeng</h3>
      </div>
      <div class="col-sm-12">
          <div id="add-transport-box"></div>
          <div id="r2r-attribution" class="pull-right">
            <span>Powered By</span> <%= image_tag 'r2rlogo_sm.png' %>
          </div>
      </div>
    </div>
  </div>

</div>


<div id="trip-snapshot-container" class="container-fluid">
  <div class="row">
    <div id="snapshot-toggle-bar" class="col-sm-12 text-center snapshot-toggle">
      <i class="fa fa-chevron-up snapshot-toggle-icon"></i>
    </div>
    <div id="snapshot-content" class="col-sm-12">
      <div id="scroll-left" class="snapshot-scroll hidden">
        <i class="fa fa-chevron-left fa-2x"></i>
      </div>
      <ul id="trip-snapshot-ul" class="list-inline">
        <li id="snapshot-add-destination" class="not-sortable">
          <a href="<%= add_destination_lightbox_path %>" data-colorbox="true" class="add-destination-link no-style-link">
            <div class="snapshot-location-content">
                <i class="fa fa-plus-circle fa-2x add-destination-icon" data-toggle="tooltip" data-placement="right"
                   title="Add Destination"></i>
            </div>
          </a>
        </li>
      </ul>
      <div id="scroll-right" class="snapshot-scroll hidden">
        <i class="fa fa-chevron-right fa-2x"></i>
      </div>
    </div> <!-- end snapshot content -->
  </div>
  <!-- end trip snapshot -->

  <!-- begin itinerary -->
  <div id="itinerary" class="row hidden">
    <div id="itinerary-title" class="col-sm-12">
      <h3>Trip Itinerary</h3>
    </div>
    <div class="col-sm-12">

      <!-- ========= BEGIN ORIGIN ROW =============-->
      <div id='itinerary-origin-row' class="row itinerary-row">
        <div class="itinerary-icon">
          <i class="fa fa-flag-o fa-2x"></i>
          <div class="itinerary-transportation-vertical"></div>
        </div>

        <div class="col-sm-11 col-sm-offset-1">
          <div class="flag-text">
            <h5 id="departure-city" class="hidden" data-destination-id=""></h5>
            <span class="link-text" id="add-departure-link">
             Departure City
            </span>
            <div id="departure-city-edit" class="hidden departure-return-wrapper">
              <input id="departure-city-input" placeholder="Departure city name"></input>
              <i id="confirm-departure-city" class="fa fa-check" data-toggle="tooltip" data-placement="bottom" title="Confirm City"></i>
              <i id="cancel-departure-city" class="fa fa-times" data-toggle="tooltip" data-placement="bottom" title="Cancel"></i>
            </div>
              <i id="change-departure-city" class="fa fa-pencil hidden link-text" data-toggle="tooltip"
                 data-placement="bottom" title="Change Departure City"></i>
              <i id="remove-departure-city" class="fa fa-trash hidden link-text" data-toggle="tooltip"
                 data-placement="bottom" title="Remove Departure City"></i>
          </div>
        </div>
      </div>

      <div class="row end-transportation-row hidden" id="departure-row-transportation">
        <div class="itinerary-icon transportation-icon">
          <i class="fa fa-circle-o fa-2x"></i>
          <div class="itinerary-transportation-vertical"></div>
        </div>

        <div class="col-sm-11 col-sm-offset-1">
          <div class="table-parent">
            <a class="add-transportation block valign-middle-child" href="#header">Find Transportation</a>
          </div>
        </div>
      </div>
      <!-- ========= END ORIGIN ROW =============-->

      <ul id="itinerary-transportation-destination-ul" class="row">

        <!-- ========= BEGIN ADD DESTINATION ROW =============-->
        <li id="add-destination-row" class="row itinerary-row">
          <a href="<%= add_destination_lightbox_path %>" data-colorbox="true" class="add-destination-link">
            <div class="itinerary-icon">
              <i class="fa fa-plus-circle fa-3x add-destination-icon" data-toggle="tooltip" data-placement="right"
                         title="Add First Destination"></i>
            </div>
          </a>
        </li>
        <!-- ========= END ADD DESTINATION ROW =============-->

      </ul>

      <!-- ========= BEGIN RETURN DESTINATION ROW =============-->
      <div class="row end-transportation-row hidden" id="return-row-transportation">
        <div class="itinerary-icon transportation-icon">
          <div class="itinerary-transportation-vertical"></div>
          <i class="fa fa-circle-o fa-2x"></i>
        </div>

        <div class="col-sm-11 col-sm-offset-1">
          <div class="table-parent">
            <a class="add-transportation block valign-bottom-child" href="">Find Transportation</a>
          </div>
        </div>
      </div>

      <div id="itinerary-terminal-row" class="row itinerary-row">
        <div class="itinerary-icon">
          <div class="itinerary-transportation-vertical"></div>
          <i class="fa fa-flag-checkered fa-2x"></i>
        </div>

        <div class="col-sm-11 col-sm-offset-1">
          <div class="flag-text table-parent">
            <div class="valign-bottom-child">
              <h5 id="return-city" class="hidden" data-destination-id=""></h5>
              <span class="link-text" id="add-return-link">
               Return City
              </span>
              <div id="return-city-edit" class="hidden departure-return-wrapper">
                <input id="return-city-input" placeholder="Return city name"></input>
                <i id="confirm-return-city" class="fa fa-check" data-toggle="tooltip" data-placement="right" title="Confirm City"></i>
                <i id="cancel-return-city" class="fa fa-times" data-toggle="tooltip" data-placement="bottom" title="Cancel"></i>
              </div>
              <i id="change-return-city" class="fa fa-pencil hidden link-text"
                 data-toggle="tooltip" data-placement="bottom" title="Change Return City"></i>
              <i id="remove-return-city" class="fa fa-trash hidden link-text"
                 data-toggle="tooltip" data-placement="bottom" title="Remove Return City"></i>
            </div>
          </div>
        </div>
      </div>

      <!-- ========= END RETURN DESTINATION ROW =============-->

  </div> <!-- End Itinerary Row -->

</div>

<!-- ****************************************************************
     ********* Hidden Templates for Javascript Functions ************
     **************************************************************** -->
<li id="snapshot-location-template" class="snapshot-location hidden">
  <div class="snapshot-draggable-indicator hidden"><i class="fa fa-arrows-h"></i></div>
  <div class="snapshot-location-content valign-middle-parent">
    <div class="transparent-layer">
    </div>
    <h5 class="valign-middle-child">Hidden Template</h5>
  </div>
  <div class="snapshot-close hidden"><i class="fa fa-times"></i></div>
</li>

<!-- Info window template -->
<div id="infowindow-template" class="hidden">
  <div class="infowindow-content" data-marker-id="">
    <h5>Location Name</h5>
    <div>
      <a href="#" class="block info-date">
        <i class="fa fa-calendar-plus-o"></i> <span>Add Arrival Date</span>
      </a>
      <a href="#" class="block info-accommodation">
        <i class="fa fa-bed"></i> <span>Add Accommodation</span>
      </a>
    </div>
    <button class="btn btn-xs btn-danger remove-location">Remove</button>
    <a href="<%= add_destination_lightbox_path %>" data-colorbox="true" class="no-style-link infowindow-add-destination">
      <button class="btn btn-xs btn-success">
        Add Next Destination
      </button>
    </a>
  </div>
</div>

<!-- Warning box for lightbox -->
<div class="lightbox-warning-template hidden">
  <div id="lightbox-warning-content" class="alert alert-danger alert-dismissible" role="alert">
    Please select a destination from the dropdown.
  </div>
</div>


<!-- ========= BEGIN DESTINATION ROW ============= -->
<li id="destination-row-template" class="row destination-row hidden" data-marker-id="">

  <div class="itinerary-icon itinerary-col-parent-lg">
    <p class="calendar-month">Day</p>
    <span class="fa-stack fa-md">
      <i class="fa fa-calendar-o fa-stack-2x"></i>
      <strong class="fa-stack-1x calendar-text">2</strong>
    </span>
  </div>

  <div class="col-sm-5 col-sm-offset-1 destination-label itinerary-col-parent-sm">
    <p class="itinerary-step-city inline-block">Dafeng</p>
    <p class="itinerary-step-country inline-block">China</p>
    <div>
      <p class="link-text inline-block add-destination-date">+ Add Dates</p>
      <div class="add-destination-date-div hidden inline-block">
        <i class="fa fa-calendar-plus-o fa-fw in-form-icon"></i>
        <%= text_field_tag '', nil, :class => 'date-picker destination-date-picker', :placeholder => 'Arrival Date' %>
        <span class="destination-date hidden">DATE</span>
      </div>
      <a class="inline-block" href="#" style="margin-left:20px;">+ Add Accommodation</a>
    </div>
  </div>
  <!-- Average temperature if dates
      Currency conversion
      Cost of living -->

  <div class="col-sm-4 itinerary-col-parent-lg hidden">
    <ul class="accomidation-list list-inline">
      <li>
        <i class="fa fa-bed fa-2x"></i>
        <a href="#">Find Hostels</a>
      </li>
      <li>
        <i class="fa fa-building fa-2x"></i>
        <a href="#">Find Hotels</a>
      </li>
      <li>
        <i class="fa fa-home fa-2x"></i>
        <a href="#">Find Airbnb</a>
      </li>
    </ul>
  </div>

</li>
<!-- ========= END DESTINATION ROW =============-->

<!-- ========= BEGIN TRANSPORATION ROW ============= -->
<li id="transportation-row-template" class="row transportation-row hidden">
  <div class="itinerary-icon transportation-icon">
    <div class="itinerary-transportation-vertical"></div>
    <i class="fa fa-circle-o fa-2x"></i>
    <div class="itinerary-transportation-vertical"></div>
  </div>

  <div class="col-sm-11 col-sm-offset-1">
    <div class="transportation-row-label table-parent">
      <a class="add-transportation block valign-middle-child" href="#header">Find Transportation</a>
    </div>
  </div>
</li>
<!-- ========= END TRANSPORTATION ROW ============= -->
