<div class="hidden-xs" id="map-container-90">
  <div id="map-holder"></div>

  <div id="map-controls-container">
    <div id="map-controls">
      <div id="switch-trips-button" class="inline-block" data-toggle="tooltip" data-placement="top" title="Switch Trips">
        <i class="fa fa-caret-down fa-lg"></i>
      </div>

      <%= text_field_tag 'trip_name_input', '', placeholder: 'Enter a Name for Your Trip'  %>


      <div id="map-controls-buttons-container" class="inline-block map-controls-div">
        <button type="button" class="btn btn-primary btn-xs">
          <span>Save</span>
        </button>
        <i data-toggle="tooltip" data-placement="top" title="Add to Favorites" class="fa fa-star-o fa-lg trip-favorite"></i>
        <i data-toggle="tooltip" data-placement="top" title="Share Trip" class="fa fa-share-alt fa-lg icon-gray"></i>
        <i data-toggle="tooltip" data-placement="top" title="More Actions" class="fa fa-ellipsis-h fa-lg icon-gray"></i>
        <!-- More Options Should Have a Dropdown for the following -->
        <!-- Embed Trip <i class="fa fa-code fa-lg"></i> -->
        <!-- Duplicate Trip <i class="fa fa-files-o fa-lg"></i> -->
        <!-- Delete Trip <i class="fa fa-trash-o fa-lg"></i> -->
      </div>
    </div>
  </div>
</div>



<div id="trip-snapshot-container" class="container-fluid">
  <div class="row">
    <div id="snapshot-toggle-bar" class="col-sm-12 text-center snapshot-toggle">
      <i class="fa fa-chevron-up snapshot-toggle-icon"></i>
    </div>
    <div class="col-sm-12 valign-middle-parent">
      <ul id="trip-snapshot-ul" class="list-inline valign-middle-child">
        <li> Location 1 </li>
        <li> Location 1 </li>
        <li> Location 1 </li>
        <li> Location 1 </li>
        <li>
          <a href="/blank/add_destination_helper" data-colorbox="true">
            <i class="fa fa-plus-circle fa-2x add-destination" data-toggle="tooltip" data-placement="top"
               title="Add Destination"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>


	<div class="itinerary-holder">
		<h1 class="itinerary-trip-title">My Trip</h1>
			<div class="itinerary-transportation-step">
				<div class="row itinerary-transportation-header">
					<div class="col-sm-1 itinerary-transportation-icon">
						<i class="fa fa-plane fa-2x"></i>
						<div class="itinerary-transportation-vertical itinerary-transportation-vertical-bottom"></div>
					</div>
					<div class="col-sm-11 itinerary-transportation-overview">
						<p class="itinerary-transportation-title">Jan 1 | Travel to Shanghai, China</p>
					</div>
				</div>

				<div class="row itinerary-transportation-details">
					<div class="col-sm-3 col-sm-offset-1">
						<p class="itinerary-transportation-subtitle"><%= @itineraryOriginTransportation %></p>
					</div>
					<div class="col-sm-5 itinerary-transportation-specifics">
						<p><%= @itineraryOriginSpecifics %></p>
					</div>
					<div class="col-sm-1">
						<p class="itinerary-step-price"><%= @itineraryOriginPrice %></p>
					</div>
					<div class="col-sm-2 itinerary-step-booking">
						<%= submit_tag("Book now", {:class => 'btn btn-success'}) %>
					</div>
				</div>
			</div>


			<div class="itinerary-destination-step">
				<div class="row itinerary-destination-header">
					<div class="col-sm-1">
						<h3 class="itinerary-step-number"><%= @itineraryStepOrder %></h3>
						<div class="itinerary-calendar-box">
							<span class="fa-stack fa-lg">
							  <i class="fa fa-calendar-o fa-stack-2x"></i>
							  <strong class="fa-stack-1x calendar-text"><%= @itineraryStepDate %></strong>
							</span>
							<p class="calendar-month">Jan</p>
						</div>
					</div>
					<div class="col-sm-11 itinerary-step-overview">
							<p class="itinerary-step-city"><%= @itineraryStepCity %></p>
							<p class="itinerary-step-country"><%= @itineraryStepCountry %></p>
					</div>
				</div>

				<div class="row itinerary-step-accomodation">
					<div class="col-sm-3 col-sm-offset-1 itinerary-step-accomodation-overview">
						<p><%= @accommodationType %> in <%= @itineraryStepCity %></p>
					</div>
					<div class="col-sm-5 itinerary-step-specifics">
						<p><%= @accommodationSpecifics %></p>
					</div>
					<div class="col-sm-1 itinerary-step-price">
						<p><%= @accommodationPrice %></p>
					</div>
					<div class="col-sm-2 itinerary-step-booking">
						<%= submit_tag("Book now", {:class => 'btn btn-success'}) %>
					</div>
				</div>
			</div>

			<div class="itinerary-transportation-step">
				<div class="row itinerary-transportation-header">
					<div class="col-sm-1 itinerary-transportation-icon">
						<div class="itinerary-transportation-vertical"></div>
						<i class="fa fa-bus fa-2x"></i>
						<div class="itinerary-transportation-vertical itinerary-transportation-vertical-bottom"></div>
					</div>
					<div class="col-sm-11 itinerary-transportation-overview">
						<p class="itinerary-transportation-title">Jan 2 | Travel to Dafeng, China</p>
					</div>
				</div>

				<div class="row itinerary-transportation-details">
					<div class="col-sm-3 col-sm-offset-1">
						<p class="itinerary-transportation-subtitle"><%= @transportationType %> to <%= @itineraryStepDestination2 %></p>
					</div>
					<div class="col-sm-5 itinerary-transportation-specifics">
						<p><%= @transportationSpecifics %></p>
					</div>
					<div class="col-sm-1 itinerary-step-price">
						<p><%= @transportationPrice %></p>
					</div>
					<div class="col-sm-2 itinerary-step-booking">
						<%= submit_tag("Book now", {:class => 'btn btn-success'}) %>
					</div>
				</div>
			</div>


			<div class="itinerary-destination-step">
				<div class="row itinerary-destination-header">
					<div class="col-sm-1">
						<h3 class="itinerary-step-number"><%= @itineraryStepOrder %></h3>
						<div class="itinerary-calendar-box">
							<span class="fa-stack fa-lg">
							  <i class="fa fa-calendar-o fa-stack-2x"></i>
							  <strong class="fa-stack-1x calendar-text"><%= @itineraryStepDate %></strong>
							</span>
							<p class="calendar-month">Jan</p>
						</div>
					</div>
					<div class="col-sm-11 itinerary-step-overview">
							<p class="itinerary-step-city"><%= @itineraryStepCity %></p>
							<p class="itinerary-step-country"><%= @itineraryStepCountry %></p>
					</div>
				</div>

				<div class="row itinerary-step-accomodation">
					<div class="col-sm-3 col-sm-offset-1 itinerary-step-accomodation-overview">
						<p><%= @accommodationType %> in <%= @itineraryStepCity %></p>
					</div>
					<div class="col-sm-5 itinerary-step-specifics">
						<p><%= @accommodationSpecifics %></p>
					</div>
					<div class="col-sm-1 itinerary-step-price">
						<p><%= @accommodationPrice %></p>
					</div>
					<div class="col-sm-2 itinerary-step-booking">
						<%= submit_tag("Book now", {:class => 'btn btn-success'}) %>
					</div>
				</div>
			</div>

			<div class="itinerary-transportation-step">
				<div class="row itinerary-transportation-header">
					<div class="col-sm-1 itinerary-transportation-icon">
						<div class="itinerary-transportation-vertical"></div>
						<i class="fa fa-bus fa-2x"></i>
						<div class="itinerary-transportation-vertical itinerary-transportation-vertical-bottom"></div>
					</div>
					<div class="col-sm-11 itinerary-transportation-overview">
						<p class="itinerary-transportation-title">+ Add transportation</p>
					</div>
				</div>

				<!-- Transport box with no further destination -->
				<div class="row itinerary-transportation-details">
					<div class="col-sm-3 col-sm-offset-1">
						<p class="itinerary-transportation-subtitle"></p>
					</div>
					<div class="col-sm-5 itinerary-transportation-specifics">
						<p></p>
					</div>
					<div class="col-sm-1 itinerary-step-price">
						<p></p>
					</div>
					<div class="col-sm-2 itinerary-step-booking">

					</div>
				</div>
			</div>


		</div>
</div>


