<div class="hidden-xs" id="map-container-90">
  <div id="map-holder"></div>
</div>

<div class="container">
	<div class="row">
	<h1 class="itinerary-trip-title">My Trip</h1>
		<div class="itinerary-holder">

			<div class="itinerary-transportation-step">	
				<div class="row itinerary-transportation-header">
					<div class="col-sm-1 itinerary-transportation-icon">	
						<i class="fa fa-plane fa-2x"></i>
						<div class="itinerary-transportation-vertical itinerary-transportation-vertical-bottom"></div>		
					</div>
					<div class="col-sm-11 itinerary-transportation-overview">
						<p class="itinerary-transportation-title">Jan 1 | Travel to Shanghai, China</p>
					</div>
				</div>

				<div class="row itinerary-transportation-details">
					<div class="col-sm-3 col-sm-offset-1">
						<p class="itinerary-transportation-subtitle"><%= @itineraryOriginTransportation %></p>
					</div>
					<div class="col-sm-5 itinerary-transportation-specifics">
						<p><%= @itineraryOriginSpecifics %></p>
					</div>
					<div class="col-sm-1">
						<p class="itinerary-step-price"><%= @itineraryOriginPrice %></p>
					</div>
					<div class="col-sm-2 itinerary-step-booking">
						<%= submit_tag("Book now", {:class => 'btn btn-success'}) %>
					</div>
				</div>
			</div>

			
			<div class="itinerary-destination-step">
				<div class="row itinerary-destination-header">
					<div class="col-sm-1">
						<h3 class="itinerary-step-number"><%= @itineraryStepOrder %></h3>
						<div class="itinerary-calendar-box">		
							<span class="fa-stack fa-lg">
							  <i class="fa fa-calendar-o fa-stack-2x"></i>
							  <strong class="fa-stack-1x calendar-text"><%= @itineraryStepDate %></strong>
							</span>
							<p class="calendar-month">Jan</p>
						</div>
					</div>
					<div class="col-sm-11 itinerary-step-overview">
							<p class="itinerary-step-city"><%= @itineraryStepCity %></p>
							<p class="itinerary-step-country"><%= @itineraryStepCountry %></p>
					</div>
				</div>

				<div class="row itinerary-step-accomodation">
					<div class="col-sm-3 col-sm-offset-1 itinerary-step-accomodation-overview">
						<p><%= @accommodationType %> in <%= @itineraryStepCity %></p>
					</div>
					<div class="col-sm-5 itinerary-step-specifics">
						<p><%= @accommodationSpecifics %></p>
					</div>
					<div class="col-sm-1 itinerary-step-price">
						<p><%= @accommodationPrice %></p>
					</div>				
					<div class="col-sm-2 itinerary-step-booking">
						<%= submit_tag("Book now", {:class => 'btn btn-success'}) %>
					</div>
				</div> 
			</div>
				
			<div class="itinerary-transportation-step">	
				<div class="row itinerary-transportation-header">
					<div class="col-sm-1 itinerary-transportation-icon">
						<div class="itinerary-transportation-vertical"></div>	
						<i class="fa fa-bus fa-2x"></i>
						<div class="itinerary-transportation-vertical itinerary-transportation-vertical-bottom"></div>		
					</div>
					<div class="col-sm-11 itinerary-transportation-overview">
						<p class="itinerary-transportation-title">Jan 2 | Travel to Dafeng, China</p>
					</div>
				</div>

				<div class="row itinerary-transportation-details">
					<div class="col-sm-3 col-sm-offset-1">
						<p class="itinerary-transportation-subtitle"><%= @transportationType %> to <%= @itineraryStepDestination2 %></p>
					</div>
					<div class="col-sm-5 itinerary-transportation-specifics">
						<p><%= @transportationSpecifics %></p>
					</div>
					<div class="col-sm-1 itinerary-step-price">
						<p><%= @transportationPrice %></p>
					</div>
					<div class="col-sm-2 itinerary-step-booking">
						<%= submit_tag("Book now", {:class => 'btn btn-success'}) %>
					</div>
				</div>
			</div>


			<div class="itinerary-destination-step">
				<div class="row itinerary-destination-header">
					<div class="col-sm-1">
						<h3 class="itinerary-step-number"><%= @itineraryStepOrder %></h3>
						<div class="itinerary-calendar-box">		
							<span class="fa-stack fa-lg">
							  <i class="fa fa-calendar-o fa-stack-2x"></i>
							  <strong class="fa-stack-1x calendar-text"><%= @itineraryStepDate %></strong>
							</span>
							<p class="calendar-month">Jan</p>
						</div>
					</div>
					<div class="col-sm-11 itinerary-step-overview">
							<p class="itinerary-step-city"><%= @itineraryStepCity %></p>
							<p class="itinerary-step-country"><%= @itineraryStepCountry %></p>
					</div>
				</div>

				<div class="row itinerary-step-accomodation">
					<div class="col-sm-3 col-sm-offset-1 itinerary-step-accomodation-overview">
						<p><%= @accommodationType %> in <%= @itineraryStepCity %></p>
					</div>
					<div class="col-sm-5 itinerary-step-specifics">
						<p><%= @accommodationSpecifics %></p>
					</div>
					<div class="col-sm-1 itinerary-step-price">
						<p><%= @accommodationPrice %></p>
					</div>				
					<div class="col-sm-2 itinerary-step-booking">
						<%= submit_tag("Book now", {:class => 'btn btn-success'}) %>
					</div>
				</div> 
			</div>

			<div class="itinerary-transportation-step">	
				<div class="row itinerary-transportation-header">
					<div class="col-sm-1 itinerary-transportation-icon">
						<div class="itinerary-transportation-vertical"></div>	
						<i class="fa fa-bus fa-2x"></i>
						<div class="itinerary-transportation-vertical itinerary-transportation-vertical-bottom"></div>		
					</div>
					<div class="col-sm-11 itinerary-transportation-overview">
						<p class="itinerary-transportation-title">+ Add transportation</p>
					</div>
				</div>

				<!-- Trnsport box with no further destination -->
				<div class="row itinerary-transportation-details">
					<div class="col-sm-3 col-sm-offset-1">
						<p class="itinerary-transportation-subtitle"></p>
					</div>
					<div class="col-sm-5 itinerary-transportation-specifics">
						<p></p>
					</div>
					<div class="col-sm-1 itinerary-step-price">
						<p></p>
					</div>
					<div class="col-sm-2 itinerary-step-booking">
						
					</div>
				</div>
			</div>

		
		</div>
	</div>
</div>



