<div class="col-md-4 col-sm-12">
	<div class="trip-holder">
		<div class="trip-holder-content">

			<!-- Title of Trip -->
			<h4><a href="#"><%= @tripTitle %></a></h4>

			<!-- Trip static map -->
			<div class="trip-map-static"><img src=<%= @tripMapStatic %>>
				<ul class="list-inline image-hover-options">
					<li><i class="fa fa-heart fa-3x image-hover-favorite"></i></li>
					<li><i class="fa fa-share-alt fa-3x image-hover-share"></i>
				</ul>
			</div>




			<!-- Trip countries list -->
			<ul class="list-inline destination-item-list">
				<% @tripCity.first(5).each do |city| %>
					<li class="trip-destination-item trip-city-item"><p><%= link_to(city, {:controller => 'users', :action => 'show'}) %></a></p></li>
				<% end %>				
				<% @tripCountry.first(3).each do |country| %>
					<li class="trip-destination-item trip-country-item"><p><%= link_to(country, {:controller => 'users', :action => 'show'}) %></p></li>
				<% end %>
				<% if @tripCity.length > 5 %>
					<li class="trip-destination-item trip-excess-item>"><p><%= link_to("...", {:controller => 'users', :action => 'show'}) %></p></li>
				<% end %>
			</ul>

			<!-- User info box -->
			<% if :show_username %>
				<div class="media trip-creator-box">
					<div class="media-left media-middle">
						<%= image_tag(@profilePicture, :class => 'media-object img-thumbnail profile-picture-thumbnail') %>
					</div>
					<div class="media-body">
						<h5 class="media-heading"><%= link_to(@username, {:controller => 'users', :action => 'show'}, :class => 'trip-display-username') %></h5>
					</div>
				</div>
			<% end %>

			<!-- Trip stats -->
			<ul class="list-inline trip-stats">
				<li><p><i class="fa fa-heart trip-favorites"></i> <%= @tripScore %></p></li>
				<li><p><i class="fa fa-share-square-o trip-shares"></i> <%= @numTripShares %></p></li>
			</ul>
		</div>
	</div>
</div>