<div class="col-md-4 col-sm-6 col-xs-12">
	<div class="trip-holder">
		<div class="row">
			<div class="col-xs-12 trip-holder-content">

				<!-- Title of Trip -->
				<h4 class="col-xs-12 trip-title"><%= link_to(@tripTitle, {:controller => 'users', :action => 'show'}) %></h4>

				<!-- Trip static map -->
				<div class="col-xs-12 trip-map-static">

					<!-- Inserting Trip static map img -->
					<img src=<%= @tripMapStatic %>>
					
						<!-- Thumbs up icon and counter -->
						<ul class="list-inline trip-thumbsup-container">
							<li class="trip-thumbsup-button"><i class="fa fa-thumbs-o-up"> </i></li>
							<li class="trip-thumbsup-total"><%= @likeTotal %></li>
						</ul>

						<!-- Like and share buttons -->
						<ul class="list-inline trip-favoriteandshare-container">
							<li><i class="fa fa-star-o fa-2x trip-favorite"><%= link_to("", {:controller => 'users', :action => 'show'}) %></i></li>
							<li><i><%= link_to("", {:controller => 'users', :action => 'show'}, :class => "fa fa-share-alt fa-2x trip-share") %></i></li>
						</ul>

				</div>




				<!-- Trip countries list -->

					<ul class="col-xs-12 list-inline destination-item-list">
						<% @tripCountry.first(5).each do |country| %>
							<li class="trip-destination-item trip-country-item"><p><%= link_to(country, {:controller => 'users', :action => 'show'}) %></p></li>
						<% end %>						

						<% @tripCity.first(3).each do |city| %>
							<li class="trip-destination-item trip-city-item"><p><%= link_to(city, {:controller => 'users', :action => 'show'}) %></p></li>
						<% end %>				

						<% if @tripCity.length > 3 %>
							<li class="trip-destination-item trip-excess-item"><%= link_to("...", {:controller => 'users', :action => 'show'}) %></li>
						<% end %>
					</ul>



					<div class="col-xs-12 tripdisplay-last-container">
						<div class="row">
							<div class="col-xs-8">
								<!-- User info box -->
								<% if :show_username %>
									
										<div class="media trip-creator-box">
											<div class="media-left media-bottom">
												<%= image_tag(@profilePicture, :class => 'media-object img-circle profile-picture-thumbnail') %>
											</div>
											<div class="media-body creator-username">
												<h5 class="media-heading"><%= link_to(@username, {:controller => 'users', :action => 'show'}, :class => 'trip-display-username') %></h5>
											</div>
										</div>
								<% end %>
							</div>

						</div>
					</div>
				</div>
		</div>
	</div>
</div>