<!-- Start map API -->
<div class="hidden-xs" id="map-container">
  <div id="map-holder"></div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 no-padding">

      <div id="user-profile-top">
        <%= image_tag(@user.profile_picture_path, :alt => @user.name + "\'s profile picture", :class => "img-circle img-responsive profile-picture") %>
        <div id="user-profile-demographics">
          <h2><%= @user.name %></h2>
          <h4><%= @user.hometown + ', ' if not @user.hometown.nil? %><%= @user.country %></h4>
        </div>
        <div id="user-profile-stats">
          <ul class="list-inline" id="user-stats">
            <li><p><strong><%= @numTrips %></strong> Trips planned</p></li>
            <li><p><strong><%= @numCountriesVisited %></strong> Countries visited</p></li>
            <li><p><strong><%= @upvoteScore %></strong> Score</p></li>
            <li><p><%= link_to @user.blog_url, url_with_protocol(@user.blog_url), :target => '_blank' %></p></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container-fluid user-profile-bottom">
  <div class="row">
    <div class="col-md-12 userprofile-triplist-sort" id="trips-focus">
      <ul class="nav nav-tabs region-sort" role="tablist">
        <li role="presentation" class="active"><a href="#trips-focus" aria-controls="home" role="tab" data-toggle="tab">All trips</a></li>
        <li role="presentation"><a href="#trips-focus" aria-controls="profile" role="tab" data-toggle="tab">My travels</a></li>
        <li role="presentation"><a href="#trips-focus" aria-controls="profile" role="tab" data-toggle="tab">Wishlist</a></li>
        <li role="presentation"><a href="#trips-focus" aria-controls="profile" role="tab" data-toggle="tab">Favorites</a></li>
      </ul>
    </div>
  </div>
</div>

<!-- Start trip display -->
  <div class="container-fluid userprofile-triplist">
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <%= render "trip_display/tripdisplay", :locals => :show_username %>
          <%= render "trip_display/tripdisplay" %>
          <%= render "trip_display/tripdisplay" %>
          <%= render "trip_display/tripdisplay" %>
        </div>
      </div>
  </div>


