<div id="signup-container">
  <div id="signup-social">
    <%= render partial: 'shared/sign_up_social' %>

    <div class="signup-or-separator">
      <span class="h6 signup-or-separator-text">or</span>
      <hr>
    </div>
  </div>



  <ul class="error-message"></ul>
  <%= form_for(:user, url: registration_path(:user), remote: true, :html => {:id => "signup-form"}) do |f| %>
  <div class="input-group margin-bottom-sm">
    <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
    <%= f.text_field :name, class: 'vertical-stack-form', :placeholder => 'Display Name', :required => true, autofocus: true %>
  </div>


  <div class="input-group margin-bottom-sm">
    <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
    <%= f.email_field :email, class: 'vertical-stack-form', :placeholder => 'E-mail', :required => true %>
  </div>

  <div class="input-group margin-bottom-sm">
    <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
    <%= f.password_field :password, autocomplete: "off", class: 'vertical-stack-form', :placeholder => 'Password', :required => true %>
  </div>

  <div class="input-group margin-bottom-sm">
    <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'vertical-stack-form', :placeholder => 'Confirm Password', :required => true %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: 'btn btn-primary btn-lg full-width' %>
  </div>

  <% end %>

  <hr>
  </hr>

  <p>Already a member? <%= link_to 'Login.', new_user_session_path, class: 'lightbox-close', data: {no_turbolink: true} %> </p>

</div> <!-- End sign-up container -->



