<div class="container-fluid"  id="index-first-section">
	<div class="callout">
    <h1>A better way to explore the world</h1>
     		<%= form_for(:lead, remote: true, :url => {:controller => 'leads', :action => 'create'}, :html => {:class => 'form-inline'}) do |f| %>
          <div class="form-group">
            <%= f.label(:email, 'E-mail', class: 'sr-only') %>
            <%= f.text_field(:email, {:class=> 'form-lg emailForm', :placeHolder => 'Where do you want to start?'}) %>
          </div>
          <%= submit_tag("Go explore", {:class => 'btn btn-success btn-lg'}) %>
        <% end %>


   </div>
</div>

<div class="container-fluid"  id="index-second-section">
	<div class="row">
		<div class="col-xs-12">
			<h2>Get Inspired</h2>
		</div>
		<div class="col-md-12 col-xs-12" id="highlightedtrips-widget-holder">
			<%= render "trip_display/region_sort" %>
		</div>
	</div>
</div>