<!DOCTYPE html>
<html>
<head>
  <title>TripHappy</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css'>

  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">


</head>
<body>
<div id="body-container">

<nav id="header" class="navbar navbar-inverse">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsemenu" aria-expanded="false">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>

      </button>
      <a href="/beta" class="navbar-brand"> TripHappy </a>
    </div>

    <div class="collapse navbar-collapse" id="collapsemenu">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Plan a Trip', '#' %></li>
        <li><%= link_to 'Get Inspired', '#' %></li>
        <li><%= link_to 'How it Works', '#' %></li>
        <li><%= link_to 'Sign Up', '#' %></li>
        <li><%= link_to 'Login', '#' %></li>
      </ul>
    </div>


  </div> <!-- End Navbar Container -->
</nav> <!-- End Nav -->

<% if !flash[:notice].blank? or !flash[:alert].blank? %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<% end %>


  <div id="main-content">
    <%= yield %>
  </div>

  <!-- Footer -->
  <div id="footer">
    <div id="footer-container" class="valign-middle-parent">
     <div class="container valign-middle-child">
       <div class="row">

            <div class="col-sm-4 col-sm-push-1 col-xs-6 col-xs-push-1 text-left">
              <h5>Company</h5>
              <ul>
                <li><small><%= link_to 'About', 'beta/about' %></small></li>
                <li><small><%= link_to 'Blog', 'beta/blog' %></small></li>
                <li><small><%= link_to 'Help', 'beta/help' %></small></li>
                <li><small><%= link_to 'Contact Us', 'beta/contact' %></small></li>
              </ul>
            </div>

            <div class="col-sm-4 col-sm-pull-1 col-xs-6 col-xs-pull-0 text-left">
              <h5>Legal</h5>
              <ul>
                <li><small><%= link_to 'Site Policies', 'beta/policies' %></small></li>
                <li><small><%= link_to 'Terms of Use', 'beta/terms' %></small></li>
                <li><small><%= link_to 'Privacy Policy', 'beta/privacy' %></small></li>
              </ul>
            </div>


          <div id="footer-social-icons" class="col-sm-3 col-sm-pull-1 col-xs-12 col-xs-pull-0">
            <div class="row text-center"> <!-- inner row -->
              <h5 class="col-sm-12 ">We're Social</h5>
                <div class="col-xs-4">
                  <a href="https://www.facebook.com/gotriphappy" target="_blank"><i class="fa fa-facebook-square fa-2x footer-social"></i></a>
                </div>
                <div class="col-xs-4">
                  <a href="https://instagram.com/gotriphappy" target="_blank"><i class="fa fa-instagram fa-2x footer-social"></i></a>
                </div>
                <div class="col-xs-4">
                  <a href="http://twitter.com/gotriphappy" target="_blank"> <i class="fa fa-twitter fa-2x footer-social"></i> </a>
                </div>

                <div id="footer-copy" class="col-xs-12">
                  <p>
                    <small> <i class="fa fa-copyright"></i> TripHappy</small>
                  </p>
                </div>

            </div> <!-- End inner row -->
          </div>

       </div> <!-- End Row -->
      </div> <!-- End Bootstrap Container -->
    </div> <!-- End Footer Container -->

  </div> <!-- End Footer Div -->

</div> <!-- End body-container -->

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<!-- Google Analytics -->
<script>
   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
   })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

   ga('create', 'UA-69165415-1', 'auto');
   ga('send', 'pageview');
</script>

</body>
</html>
